<header class="navigation">
  <div class="menu-wrapper">
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a class="page-link" href="{{ site.baseurl }}/">Real World Go</a></li>
        <li class="nav-link"><a class="page-link" href="{{ "/discussion/" | prepend: site.baseurl }}">Discussion</a></li>
        <li class="nav-link"><a class="page-link" href="{{ "/about/" | prepend: site.baseurl }}">About</a></li>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
        </div>
        <div class="search-results"></div>
      </div>
      <a href="{{ "/subscribe/" | prepend: site.baseurl }}" class="sign-up">Subscribe</a>
    </div>
  </div>
</header>
